body.light .user-header-main-div{
    min-width: 100%;
    background-color: rgba(223, 223, 223, 1);
    z-index: 99 ;
    top: 0;
}

body.dark .user-header-main-div{
    min-width: 100%;
  background-color: rgb(52, 53, 65, 01);
    z-index: 99 ;
    top: 0;
}
body.light .header-heading{
    color: var(--global-01-primary, #007BFF);
    font-family: Inter;
}

body.dark .header-heading{
    color: var(--global-01-primary, #ffffff);
    font-family: Inter;
}

.header-text{
font-family: Inter;
font-size: 14px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0px;
text-align: left;
}